<ion-view view-title="Recipe Detail" ng-controller="ViewCtrl">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/2.jpg">
                <h2>Sushi</h2>
                <p>April 24, 2017</p>
            </div>

            <div class="item item-body">
                <p>
                    <br>1/2 Cup Chicken</br>
                    <br>2 Tablespoons Salt</br>
                    <br>2 1/2 Loaves Pesto</br>
                    <br>1 Stalk Green Onion</br>
                    <br>3 Cups Blueberries</br>
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">Bought April 20, 2017</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="javascript:void(0)">
                    <i class="icon ion-trash-a"></i>
                    Delete
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
