<ion-view view-title="Favourites" ng-controller="UserCtrl">
    <ion-content>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/1.jpg" />
        <h2>Chicken</h2>
        <p>November 01, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/2.jpg" />
        <h2>Sushi</h2>
        <p>May 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/3.jpg" />
        <h2>Salad</h2>
        <p>June 19, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/4.jpg" />
        <h2>Fruit</h2>
        <p>December 25, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/5.jpg" />
        <h2>Pasta</h2>
        <p>April 01, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/1.jpg" />
        <h2>Chicken</h2>
        <p>July 04, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/2.jpg" />
        <h2>Sushi</h2>
        <p>March 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/3.jpg" />
        <h2>Salad</h2>
        <p>May 21, 2015</p>
      </div>
    </ion-content>
</ion-view>
